body {
	font-family: Helvetica;
}
header {
	text-align: center;
}
header.loggedIn h3, header.loggedIn #login {
	display: none;
}
main {
	display: none;
}
main.loggedIn {
	display: block;
}
#avatar {
	width: 30%;
	float: left;
}
#description {
	float: left;
	display: inline-block;
}

#tracklist, #playlists {
	width: 50%;
	float: left;
}
#tracklist ul, #playlists ul {
	padding: 0;
	list-style: none;
}
#tracklist ul li, #playlists ul li {
	background-color: black;
	color: white;
	transition: 0.5s;
}
#tracklist ul li:hover, #playlists ul li:hover {
	background-color: #1A5E8E;
}